@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
 *  1.基本情報
 * --------------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  margin: 0 auto;
  color: #000000;
  font-family: "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-size: 14px;
  max-width: 1920px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.8;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  content: ".";
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
